header > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--nav-bgcolor);
}

header > ul > li {
  float: left;
}

header > ul > li > a {
  display: flex;
  color: var(--nav-font-color);
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  cursor: pointer;
}
header > ul > li > a > img {
  height: 20px;
}

header > ul > li > a:hover {
  background-color: var(--nav-hover-bgcolor);
}

header > UL > .nav-right {
  float: right;
}

header > UL > .nav-hidden {
  display: none;
}
