header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--nav-bgcolor);
}

header > ul > li {
  float: left;
}
#notifications > li > a,
header ul > li > a {
  display: flex;
  color: var(--nav-font-color);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 14px 16px;
}

#notifications > li,
#notifications > li > a {
  width: 100%;
}

#notifications {
  max-width: 100%;
  width: 400px;
  right: 0;
}

header > ul > li > a > img {
  height: 20px;
}
#notifications > li:hover,
header ul > li > a:hover {
  background-color: var(--nav-hover-bgcolor);
}

header .nav-right {
  float: right;
}

header .nav-hidden {
  display: none;
}

header .nav-submenu > ul {
  position: fixed;
  height: 0;
  width: 0;
  transform: scaleY(0) scaleX(0);
  transition: transform 0.1s;
}

header .nav-submenu:hover > ul {
  height: 100%;
  width: 100%;
  transform: scaleY(1) scaleX(1);
  transition: transform 0.1s;
}
