<section class="jobs">
    <h3>Edit My Profile</h3>
    <div class="new-job">
        <form id="edit-profile">
            <p>
                <label for="name">Name:</label>
                <input id="name" type="text" placeholder="Your Name" required>
            </p>
            <p>
                <label for="email">Email:</label>
                <input id="email" type="email" placeholder="Your Email" required>
            </p>
            <p>
                <label for="password">Password:</label>
                <input id="password" type="password" placeholder="Your New Password" required>
            </p>
            <p>
                <label for="image">Image:</label>
                <img src="" id="preview" alt="Error">
                <input id="image" type="file" accept="image/png, image/jpeg, image/jpg">
                <input id="image-data" type="hidden">
            </p>
            <p class="center">
                <button type="submit">Save My Profile</button>
            </p>
        </form>
    </div>
</section>