<section class="form">
    <h3>You need login first</h3>
    <div>
        <form id="login-form">
            <p>
                <label for="email">E-mail</label>
                <input class="input" id="email" type="email" placeholder="Your Email" required>
            </p>
            <p>
                <label for="passwd">Password</label>
                <input class="input" id="passwd" type="password" placeholder="Your Password" required>
            </p>
            <p class="center">
                <label></label>
                <button type="submit">Login</button>
            </p>
        </form>
    </div>
</section>