<section class="profile">
    <div class="search-user">
        <form id="watch-user">
            <p>
                <label for="user-email">Watch User:</label>
                <input id="user-email" type="email" placeholder="Enter User's Email Here" required>
                <button id="watch" type="submit">Watch</button>
            </p>
        </form>
        <hr>
        <form id="search-user">
            <p>
                <label for="user-id">Search User:</label>
                <input id="user-id" type="number" placeholder="Enter User Id Here" required>
                <button id="search" type="submit">Search</button>
            </p>
        </form>
    </div>

    <hr>

    <div id="user-profile" class="nothing">
        <span>There is nothing to show here.</span>
        <div>
        </div>
    </div>

</section>