<section class="form">
    <h3>Register</h3>
    <form id="signup-form">
        <p>
            <label for="email">E-mail</label>
            <input class="input" id="email" type="email" placeholder="Your Email" required>
        </p>
        <p>
            <label for="name">Name</label>
            <input class="input" id="name" type="text" placeholder="Your Name" required>
        </p>
        <p>
            <label for="passwd">Password</label>
            <input class="input" id="passwd" type="password" placeholder="Your Password" required>
        </p>
        <p>
            <label for="passwd2">Repeat</label>
            <input class="input" id="passwd2" type="password" placeholder="Your Password Again" required>
        </p>
        <p>
            <label></label>
            <button type="submit">Register</button>
        </p>
    </form>
</section>